.box {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    display: inline-block;
    text-align: center;
}

@media (max-width: 667px) {
    .mobile {
        background-color: blue;
    }
}

@media (min-width: 668px) and (max-width: 991px) {
    .tablet {
        background-color: green;
    }
}

@media (min-width: 992px) {
    .desktop {
        background-color: red;
    }
}